*{
    text-align: center
}

html{
    background-color: #85d7a3
}

body{
    width: 90%;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배*/
}
h1{
    font-size: 47px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

p{
  font-size: 0.9rem;
}